@using QLBANSACH.Models
@using PagedList.Mvc;
@model PagedList.PagedList<QLBANSACH.Models.SACH>


@helper Truncate(string input, int length) 
{
if (input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}
@{
    ViewBag.Title = "Sach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    #left {
        min-height: 1000px;
    }
    td{
        text-align:center;
    }
</style>
<h2 style="margin-bottom: 30px;font-size:30px; text-align:center;">QUẢN LÝ THÔNG TIN SÁCH</h2>

<p style="margin-bottom: 50px;">
    @Html.ActionLink("THÊM MỚI", "Themmoisach")
</p>
<table class="table" border="1">
    <tr>
        <th style="width:200px;"> Tên sách</th>
        <th style="width: 100px;"> Giá bán</th>
        <th style="width: 300Ppx;"> Mô tả</th>
        <th style="width: 120px;"> Ảnh bìa</th>
        <th style="width: 150px; "> Ngày cập nhật</th>
        <th style="width: 120px; "> SL.Tồn</th>
        <th style="width: 120px; "> Tên chủ đề</th>
        <th style="width: 100px;"> TTên NXB</th>
        <th style="width: 200px; "> </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td >
                @Html.DisplayFor(modelItem => item.Tensach)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.Giaban)
            </td>
            <td >
                @Truncate(item.Mota, 100)
            </td>
            <td >
                <img src="@Url.Content("~/images/"+ item.Anhbia)" / style="height: 110px;">
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.Ngaycapnhat)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.Soluongton)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.CHUDE.TenChuDe)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.NHAXUATBAN.TenNXB)
            </td>
            <td >
                @Html.ActionLink("Sửa", "Suasach", new { id = item.Masach }) |
                @Html.ActionLink("Chi tiết", "Chitietsach", new { id = item.Masach }) |
                @Html.ActionLink("Xóa", "Xoasach", new { id = item.Masach })
            </td>

        </tr>

    }

</table>
@* Tạo liên kết trang *@
<div class="sotrang">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
</div>
<div class="MenuTrang">
   
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .MenuTrang {
        
    }

     .MenuTrang li {
            display: inline;
        }
     .MenuTrang li a {
                border: 1px solid #eaeaea;
                padding: 2px;
                background: #f2f2f2;
                display: inline;
            }

    #right .thumbnails li {
       
    }

    .sotrang {
        margin-bottom: 10px;
            margin-top: 200px;
    }
</style>

</div>

